@charset "utf-8";
*{margin: 0;padding: 0;}
li{list-style: none;}
a{
    text-decoration: none;
    display: block;
    color: #333;
    transition: .3s;
}
img{display: block;}

#wrap{width: 1200px;margin: 0 auto;}
#header{height: 100px;display: flex; background: #eee;}
#slide{height: 300px;}
#contents{height: 200px;}
#footer{height: 100px;background: #bbb;}

.logo{padding-top: 30px;}
nav{width: 1000px;}

.sub{display: none;height: 150px;
    background: rgba(255,255,255,.8);
}
/* .gnb:hover .sub{display: block;} */

.gnb a{
    width: 150px;
    line-height: 40px;
    text-align: center;
}
.sub a{line-height: 32px;}

.gnb{
    display: flex;
    outline: 1px #777 solid;
    width: 603px;
    position: relative;
    top: 30px;left: 380px;
    z-index: 10;
}
.gnb > li > a{
    border-right: 1px #777 solid;
}
.gnb > li:last-child > a{
    border-right:0;
}
.gnb:hover > li > a{
    border-bottom: 1px #777 solid;
}
.gnb li:hover > a{
    background: #333;color: #fff;
}
#slide{overflow: hidden;}
#slide ul{animation: slide 9s infinite;}
@keyframes slide{
    0%{margin-top: 0;}
    33%{margin-top: -300px;}
    66%{margin-top: -600px;}
    100%{margin-top: -900px;}
}
#contents{display: flex;}
#recent, #banner, #link{
    padding: 10px;
    width: 380px;
}
.tab a{
    width: 190px;
    text-align: center;
    line-height: 30px;    
}
.tab{display: flex;
    outline: 1px #777 solid;}
.tab li:first-child{
    border-right: 1px #777 solid;
}
.notice a{
    display: flex;
    line-height: 30px;
    padding-left: 10px;
}
.num{width:20px;}
.notice a:hover{background: #eee;}
.tab a:hover{background: #eee;}

.gallery img{width: 100px;}
.gallery{
    height: 150px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
}
.gallery a:hover{opacity: 0.8;}

.title{
    line-height: 30px;
    outline: 1px #777 solid;
    text-align: center;
}
.banner img{height: 100px;}
.banner{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner a:hover img{opacity: .8;}
.banner a:hover{text-decoration: underline;}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f_logo{filter: grayscale(1);}
.sns{padding-right: 20px;}
.sns select{
    width:120px;
    height: 32px;
}



